# Python / 가상환경
venv/
.venv/
__pycache__/
*.pyc

# Node / React
node_modules/
.env
dist/
build/

# OS / 에디터
.DS_Store
.vscode/

# 데이터 및 모델 대용량 파일 (AI-Hub 원본 및 압축 파일)
temp_data/
**/temp_data/**
MP_Data/
**/MP_Data/**
*.zip
*.part*